.index
{
	display: flex;
	height: 100%;
	overflow: hidden;
}

.index--left-pane,
.index--right-pane
{
	height: 100%;
	overflow-y: auto;
}

.index--left-pane
{
	width: 400px;
	border-right: 1px solid $light-grey;
}

.index--right-pane
{
	flex: 1;
}

@media (max-width: 750px)
{
	.index
	{
		flex-direction: column;
	}

	.index--left-pane
	{
		width: 100%;
		border-right: 0;
	}

	.index--right-pane
	{
		height: 40%;
		order: 1;
	}

	.index--left-pane
	{
		height: 60%;
		order: 2;
	}
}

.index--create-event-button
{
	line-height: 35px;
	text-align: center;
	background: $blue;
	color: #fff;
	display: block;
	opacity: 0.6;
	transition: opacity 200ms linear;
	&:hover, &:focus
	{
		color: #fff;
		text-decoration: none;
		opacity: 0.8;
	}
}

.index--filter-input
{
	width: 100%;
	background: 0 0;
	border: 1px solid transparent;
	box-shadow: none;
	outline: 0;
	line-height: 22px;
	padding: 7px 7px;
	color: inherit;
	font-family: inherit;
}

.index--event-list-wrapper
{
	border-top: 1px solid $light-grey;
	height: calc(100% - 75px);
	overflow: auto;
}